.text__paragraphs {
  display: grid;
  grid-template-columns: repeat(4, 189px);
  justify-content: space-between;
  margin: 94px 53px 0;
}

@media screen and (max-width: 890px){
  .text__paragraphs {
    justify-content: space-around;
    grid-gap: 40px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 650px){
  .text__paragraphs {
    margin: 65px 30px 0;
    justify-content: space-around;
    grid-gap: 40px;
    grid-template-columns: 1fr;
  }
}
