.place__title {
    line-height: 1.15;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 15px;
}

@media (min-width: 1030px) {
    .place__title {
        font-size: 24px;
    }
}