.intro__image {
  width: 100%;
  max-width: 285px;
  max-height: 285px;
  margin: 0 126px 0 auto;
}

@media screen and (max-width: 900px) {
  .intro__image {
    margin: 0 10% 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .intro__image {
    margin: 0 5% 0 auto;
  }
}

@media screen and (max-width: 630px) {
  .intro__image {
    margin: 0 auto;
  }
}
