.intro__title {
  margin: 0 15px 0 51px;
  max-width: 425px;
}

@media screen and (max-width: 900px) {
  .intro__title {
    max-width: 355px;
  }
}

@media screen and (max-width: 630px) {
  .intro__title {
    margin: 0 15px 40px;
    max-width: 100%;
  }
}
